@use "../../variables.scss" as *;

.notFound {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    text-align: center;

    &__title {
        font-size: 2.25rem;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.05em;

        @media (max-width: 767px) {
            font-size: 1.125rem;
        }

        &-break {
            display: none;

            @media (max-width: 767px) {
                display: inline;
            }
        }
    }

    &__link {
        font-size: 1.125rem;
        text-decoration: underline !important;
        text-decoration-style: solid;

        @media (max-width: 767px) {
            font-size: 0.875rem;
        }
    }

    img {
        width: clamp(198px, 50vw, 597px);
    }
}